[MESSAGES CONTROL]

disable=duplicate-code,
        too-few-public-methods,
	too-many-arguments,
	too-many-locals,

[BASIC]

good-names=ax, # Matplotlib axes.
	   i, j, k, # Various dummy indices.
           _